<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News Feed | golden home</title>
    <link rel="stylesheet" href="/css/NewFeeds.css">
</head>
<body>
<div class="nav-bar">
    <div class="nav-title">Thanh điều hướng</div>
    <div class="user-settings">
        <div class="user-icon">\></div>
        <div class="dropdown-content">
            <a href="#">Cài đặt trang cá nhân</a>
            <a href="#">Tài khoản</a>
            <a href="#">Đăng xuất</a>
        </div>
    </div>
</div>
<div class="main-content">
    <div class="filter-bar">Bộ lọc</div>
    <div class="posts">
        <div class="post">
            <div class="post-header"></div>
            <div class="post-content">Bài đăng</div>
        </div>
        <div class="post">
            <div class="post-header"></div>
            <div class="post-content">Bài đăng</div>
        </div>
    </div>
</div>
<script src="/js/Newfeeds.js"></script>
</body>
</html>
